.select {
  width: 240px;

  &__custom-wrapper {
    display: flex;
    align-items: center;
    margin-left: 8px;
  }

  &__custom {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    margin-left: 8px;
    line-height: 22px;
    font-family: PingFang SC;
  }

  &__custom-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  &__option {
    display: flex;
    align-items: center;
  }

  &__option-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  &__option-label {
    font-size: 14px;
    font-weight: 400;
    margin-left: 8px;
    font-family: PingFang SC;
  }
}
