:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

#app {
  width: 100%;
}

.jd-input__inner {
  font-size: 14px !important;
}

.formily-jd-design-form-vertical {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.formily-jd-design-form-item-layout-vertical
  .formily-jd-design-form-item-label-content {
  min-height: 16px !important;
}

.formily-jd-design-form-item-layout-vertical
  .formily-jd-design-form-item-label
  * {
  line-height: 16px !important;
  margin-bottom: 4px;
}

.formily-jd-design-form-item-feedback-layout-loose {
  margin-bottom: 0 !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: rgba(241, 242, 245, 1);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
